.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: "50px";
  height: "50px";
  padding-right: "12px";
  filter: "invert(25%) sepia(90%) saturate(3508%) hue-rotate(214deg) brightness(105%) contrast(98%)";
}

.modal-width {
  width: 600px;
  min-width: 75%;
  padding-bottom: 20px;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  max-width: 95% !important;
}

.basic-chip {
  padding: 5px 8px;
  border-radius: 50px;
  display: inline-flex;
  margin: 5px;
  font-size: 13px !important;
}

.background-primary {
  color: #ffffff;
  background: #0d6efd;
}

.text-overflow {
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.labelLoading {
  padding: 10px 0;
  color: #777;
  margin-top: 220px !important;
  margin-left: 700px !important;
}

.spinner {
  width: 75px;
  height: 75px;
  margin: 0;
  background: transparent;
  border-top: 4px solid #0d6efd;
  border-right: 4px solid transparent;
  border-radius: 50%;
  -webkit-animation: 1s spin linear infinite;
  animation: 1s spin linear infinite;
}

-webkit-@keyframes spin {
  -webkit-from {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  -webkit-to {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spinBack {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-720deg);
    transform: rotate(-720deg);
  }
}

@keyframes spinBack {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-720deg);
    transform: rotate(-720deg);
  }
}

@-webkit-keyframes spinBorder {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    border-width: 15px;
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    border-width: 3px;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border-width: 15px;
  }
}

@keyframes spinBorder {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    border-width: 15px;
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    border-width: 3px;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border-width: 15px;
  }
}
